/* nav related styles */

header {
    margin-bottom: 60px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 220px;
}

.color {
    color: #FD6E0A;
}

body {
    font-family: 'Manrope', sans-serif;
}

.title {

    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 51px;

}

.btn-primary {

    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* header related */
.header-class {
    background: #FFF8F3;
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 0px;
}

.banner-heading {
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.para {
    color: var(--dark-03, #757575);
    width: 585px;
    height: 60px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


/* main section styles */

/* about section */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
    
}

.section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}

.section-description {
    color: var(--dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top:10px;
    margin-left:150px;
   
}