/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 220px;
}

.color {
    color: #FD6E0A;
}

body {
    font-family: 'Manrope', sans-serif;
}

.title {

    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 51px;

}

.btn-primary {

    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* header related */
.header-class {
    background: #FFF8F3;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-heading {
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.para {
    color: var(--dark-03, #757575);
    width:585px;
    height:60px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}